<div id="botones" class="botones">
    <div class="container-fluid pt-5">
        <div class="row"> 
            <!--adm-->  
          <div class="col-3">
            <div class="list-group">
          <a href="/index.html" class="list-group-item list-group-item-action"><button type="button" class="btn btn-primary"target="_blank">Home</button></a>
            <a href="#" class="list-group-item list-group-item-action">Datos Personales</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Experiencia Laboral</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Educacion</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-success">Habilidades</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Proyectos</a>
            </div> 
          </div>
    
