<div class="row">
    <u><h2>Proyectos</h2></u>
    <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
    <h4>Go Code</h4>  
  <p>"Somos un grupo de estudiantes de programacion, de todo el pais que hacemos proyectos gratis para gente que ayuda a otras sin fines de lucro(ONG,rescate de mascotas, grupos de autoayuda,etc), que necesiten una pagina WEB gratuita y nosotros brindarsela."</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
    <img src="assets/img/photo.jpg" class="img-fluid img-proyecto">
    </div>
      <!-- Define the symbols, these are invisible on the page -->
  <i data-fa-symbol="delete" class="fas fa-trash fa-fw"></i>
  <i class="fa-solid fa-pencil" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> 
    </div>
    </div>
    <app-login></app-login>




