.Personales{
    background-color: rgb(161, 201, 214);
    padding: 20px;
   }

/*etiqueta nombre*/
.Personales{
    font-weight: bold;
    margin-top: auto;
}
.campo:last-child{
    justify-content: flex-end;
    margin-left: 45em;
}   