<div id="personales" class="Personales">
  <div class="conteiner-fluid">
  <u><h1>ACERCA DE MI</h1></u>
  <div class="col-sm-2 col-lg-2">
    <!--<button type="button" class="btn btn-dark">Acerca de mi</button>-->  
    </div>
    <div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src={{persona.img}} class="rounded-circle" class="img-fluid">
          </div>   
          <div class="col-xs-12 col-sm-2 col md-2 col-lg-2">
           <p>{{persona.nombre}} {{persona.apellido}}</p>
            <p>Full Stack Developer jr</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
  <<p>{{persona.descripcion}}</p>
  </div>
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <!--<button class="btn btn-light"><i data-fa-symbol="delete" class="fas fa-trash fa-fw">BORRAR</i></button>
    <button class=" btn btn-danger"><i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>EDITAR</button>-->


   </div>
  </div>
  </div>
</div>
<div class="campo">
  <button class=" btn btn-danger" routerLink="editper"><i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>EDITAR</button>
  </div>