<div id="personales" class="Personales">
  <div class="conteiner-fluid">
  <u><h1>ACERCA DE MI</h1></u>
  <div class="col-sm-2 col-lg-2">
    <i class="fa-solid fa-pencil" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> 
    </div>
    <div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="/assets/img/foto c.v..jpg" class="rounded-circle" class="img-fluid">
          </div>   
          <div class="col-xs-12 col-sm-2 col md-2 col-lg-2">
           <p>{{nombre}} {{apellido}}</p>
            <p>{{puesto}}</p>
          </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">     
  <span>{{acerca}}</span>
  </div>
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <i data-fa-symbol="delete" class="fas fa-trash fa-fw"></i>
   <i class="fa-solid fa-pencil" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> 
      <i data-fa-symbol="edit" class="fa-solid fa-pen-to-square"></i>
   </div>
  </div>
  </div>
</div>
<app-login></app-login>


