.about{
    background-image:url(/assets/img/pexels-lluvia.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    position: center;
    width: 1000px;
    height: 500px;
    background-color: rgb(116, 115, 125);
}
.container{
    padding: 20px;
    background-color: rgb(116, 115, 125);
}