<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><i class="fa-brands fa-instagram fa-2xl"></i><li> 
    <li class="list-group-item"><i class="fa-brands fa-facebook fa-2x1>"></i><li></li>
    <li class="list-group-item"><i class="fa-brands fa-linkedin fa-2x1>"></i></li>
     <!--Button trigger modal-->
    <li class="list-group-item">
   <i class="fa-solid fa-user-lock fa-2x1" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
    </li>
   </ul>
