<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="/login" class="fa-brands fa-instagram fa-2xl"></a><li> 
    <li class="list-group-item"><a href="/login" class="fa-brands fa-facebook fa-2x1"></a><li>
    <li class="list-group-item"><a href="/login" class="fa-brands fa-linkedin fa-2x1>"></a></li>
     <!--Button trigger modal-->
    <li class="list-group-item">
   <button type="button" class="btn bt-outline-light" (click)="logi()" data-bs-target="#exampleModal">INGRESO</button>
    </li>
   </ul>
  
    