<div id="experiencia" class="Experiencia">
    <u><h1>Experiencia</h1></u>
  <div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="" width="">
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
      <h4>Estudio Contable Impositivo</h4>
     <p>Estudio contable Impositivo Pennella</p>
     </div>
     <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
  <!-- Define the symbols, these are invisible on the page -->
  <i data-fa-symbol="delete" class="fas fa-trash fa-fw"></i>
  <i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>
  </div>
     </div>
     </div>
     <div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="/assets/img/banco-de-la-pampa.png" width="100px">
       </div>
       <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
         <h4>Banco de la Pampa</h4>
        <p>Banco de la Pampa-Oficial de Negocios-Sub Gerente sucursal</p>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
     <!-- Define the symbols, these are invisible on the page -->
     <i data-fa-symbol="delete" class="fas fa-trash fa-fw"></i>
     <i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>
     <i data-fa-symbol="edit" class= "fa-solid fa-pen-to-square"></i>
     </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="/assets/img/medife.png" width="100px">
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
              <h4>Medife-Prepaga</h4>
             <p>GERENTE SUCURSAL TRENQUE LAUQUEN</p>
             </div>
             <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
          <!-- Define the symbols, these are invisible on the page -->
          <i data-fa-symbol="delete" class="fas fa-trash fa-fw"></i>
          <i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>
          <i data-fa-symbol="edit" class="fa-solid fa-pen-to-square"></i>
          </div>
           <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
              <img src="" width="">
              </div>
              <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <h3>Mudivendi-Mutual</h3>
               <p>Gerente Zonal</p>
               </div>
               <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
            <!-- Define the symbols, these are invisible on the page -->
            <i data-fa-symbol="delete" class="fas fa-trash fa-fw"></i>
            <i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>
            </div> 
          </div> <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
              <img src="/assets/img/tio bigotes.jpg" width="100px">
              </div>
              <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <h4>Comercio Minorista</h4>
                <p>Propietario</p>
               <p>Venta fiambres y quesos</p>
               </div>
               <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
            <!-- Define the symbols, these are invisible on the page -->
            <i data-fa-symbol="delete" class="fas fa-trash fa-fw"></i>
            <i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>
            </div> 