<div class="row">
    <u><h2>Habilidades</h2></u>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
      <h4>HTML<span class="badge bg-secondary">70%</span></h4>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
      <h3>CSS<span class="badge bg-secondary">60%</span></h3>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
      <h3>Boostrapt<span class="badge bg-secondary">50%</span></h3>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
      <h3>Javascript<span class="badge bg-secondary">30%</span></h3>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
      <h3>Angular<span class="badge bg-secondary">10%</span></h3>
           </div>