<div class="row">
    <u><h2>Habilidades</h2></u>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
    <circle-progress
    [percent]="75"
    [radius]="70"
    [showUnits]="false"
    [title]="'HTML'" 
    [titleFontSize]="'2em'"
    [titleColor]="'blue'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
    <div class="tex-center col-sm-2 col-md-2 col-lg-2">
    <circle-progress
    [percent]="40"
    [radius]="70"
    [showUnits]="false"
    [title]="'CSS'" 
    [titleFontSize]="'2em'"
    [titleColor]="'blue'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
    <circle-progress
    [percent]="40"
    [radius]="70"
    [showUnits]="false"
    [title]="'JAVASCRIPT'" 
    [titleFontSize]="'1em'"
    [titleColor]="'blue'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
    <circle-progress
    [percent]="40"
    [radius]="70"
    [showUnits]="false"
    [title]="'ANGULAR'" 
    [titleFontSize]="'1em'"
    [titleColor]="'blue'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
    <circle-progress
    [percent]="10"
    [radius]="70"
    [showUnits]="false"
    [title]="'TYPESCRIPT'" 
    [titleFontSize]="''"
    [titleColor]="'blue'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
  <div class="text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress
  [percent]="20"
  [radius]="70"
  [showUnits]="false"
  [title]="'IDIOMAS'" 
  [titleFontSize]="'1em'"
  [titleColor]="'blue'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
</div>
  <div class="text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress
  [percent]="100"
  [radius]="70"
  [showUnits]="false"
  [title]="'EQUIPO'" 
  [titleFontSize]="'1em'"
  [titleColor]="'blue'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
</div>
  <div class="text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress
  [percent]="90"
  [radius]="70"
  [showUnits]="false"
  [title]="'LIDER'" 
  [titleFontSize]="'1em'"
  [titleColor]="'blue'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
</div>
  <div class="text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress
  [percent]="90"
  [radius]="70"
  [showUnits]="false"
  [title]="'RESILIENCIA'" 
  [titleFontSize]="'1em'"
  [titleColor]="'blue'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
</div>