<div class="row">
<div class="habilidades">
    <u><h1>Habilidades</h1></u>
    </div>
    <div>
   <!--<button type="button" class="btn btn-dark">Nueva Habilidad</button></div>-->
  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" *ngFor="let habilidades of habilidades">
    <div class="habilidades mb-3">
      <div class="progress-bar progress-bar-striped {{habilidades.color}}" role="progressbar" style="width:80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{habilidades.porcentaje}}% {{habilidades.habilidades}}>
      </div>
    </div>
    </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <!--<button class="btn btn-light"><i data-fa-symbol="delete" class="fas fa-trash fa-fw">borrar</i></button>
     
          <button class=" btn btn-danger"><i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>editar</button>-->
          
            </div>
            </div>
            
  
    
