<div id="estudios" class="Estudios">
  <div class="container-fluid">
   <u><h1>Estudios</h1></u>
  <div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="/assets/img/descarga.jpg" width="80px">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <u><h4>Estudios Secundarios</h4></u>
      <p> Escuela Nacional de Comercio Trenque Lauquen</p>
     <p>Titulo Perito Mercantil</p>
     <p>Año 1980</p>
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

  <i data-fa-symbol="delete" class="fas fa-trash fa-fw"></i>
  <i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>
  <i data-fa-symbol="edit" class="fa-solid fa-pen-to-square"></i>
  </div>
     <div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="/assets/img/logo_mail.png" width="80px">
       </div>
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <u><h4>Estudios Terciarios</h4></u>
        <p>Universidad Nacional de la Pampa</p>
        <p>Carrera de Contador Publico Nacional primer año</p>
        <p>Año 1982</p>
        </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <i data-fa-symbol="delete" class="fas fa-trash fa-fw"></i>
  <i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>
  <i data-fa-symbol="edit" class="fa-solid fa-pen-to-square"></i>
      </div> 
<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <img src="/assets/img/foto argentina programa.png" width="100px">
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <u><h4>Argentina Programa 3</h4></u>
   <p>Cursando Argentina Programa 3</p>
   <p>Año 2022</p>
   </div>
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <!--escondidos botones-->
<i data-fa-symbol="delete" class="fas fa-trash fa-fw"></i>
<i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>
<i data-fa-symbol="edit" class="fa-solid fa-pen-to-square"></i>
</div>
   </div>
   </div>
</div>
</div>
</div>
