<div class="col-9">
    <h4>Proyectos</h4>  
    <div class="mb-3">
      <label for="formFileSm" class="form-label">Proyecto 1</label>
      <input class="form-control form-control-sm" id="formFileSm" type="file">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-primary">Actualizar</button>
      <button type="button" class="btn btn-primary">Borrar</button>
    <div class="mb-2">
      <label for="formFileSm" class="form-label">Proyecto 2</label>
      <input class="form-control form-control-sm" id="formFileSm" type="text">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-primary">Actualizar</button>
      <button type="button" class="btn btn-primary">Borrar</button>
      <div class="mb-2">
      <label for="formFileSm" class="form-label">Proyecto 3</label>
      <input class="form-control form-control-sm" id="formFileSm" type="text">
  <div class="mb-1">
  <button type="button" class="btn btn-primary">Guardar</button>
  <button type="button" class="btn btn-primary">Actualizar</button>
  <button type="button" class="btn btn-primary">Borrar</button>
  </div> 
  </div> 
  </div>
  </div>
